@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/*icons ↥ */
:root {
    --fondo: rgb(240, 248, 255);
    --colorTituloA: rgb(202, 166, 75);
    --colorTitulo: rgb(65, 65, 65);
    --resaltado: rgba(129, 129, 129, 0.683);
    --resaltadoA: rgb(52, 163, 231);
    --gray: rgba(212, 212, 212, 0.395);
}

/* body y html*/
body,
html {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
    max-width: 100%;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 2.5fr, 0.5fr, 1fr;
    grid-template-areas:
        "header header header"
        "main   main   main"
        "redes  redes  redes"
        "footer footer footer";
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.container-redes {
    grid-area: redes;
    justify-self: center;
}

/*GENERAL*/
body,
.separador,
header,
.container-redes,
.card,
.articulo,
.card-category {
    display: grid;
}

.contact-form,
.container-contact,
#container-captcha,
.form,
.contenedor-noticia,
.coments,
.candidatos {
    display: flex;
}

.contact-form,
.form,
.contenedor-noticia,
.coments,
.candidatos {
    flex-direction: column;
}

.contact-form,
.container-contact,
.form,
.contenedor-noticia,
.coments {
    align-items: center;
}

.descripcion,
.descripcion-page,
.fecha,
.fecha2,
.links a,
.main,
.logo,
.eslogan,
.footer {
    text-align: center;
}

/*HEADER*/

.escarapela-capa-1,
.escarapela-capa-2 {
    display: flex;
}

.escarapela-capa-1,
.escarapela-capa-2,
.container-contact {
    justify-content: center;
}

.escarapela-capa-1,
.escarapela-capa-2 {
    align-items: center;
}

header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "btn logo escar"
        "btn eslog escar"
        "nav  nav   nav";
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

.btn {
    grid-area: btn;
}

.eslogan {
    grid-area: eslog;
}

.escarapela-container {
    grid-area: escar;
}

.btn {
    font-size: 2.5em;
}

.logo,
.btn,
.eslogan,
.escarapela-container,
nav {
    align-self: center;
    justify-self: center;
}

header {
    width: 100vw;
}

.logo {
    width: 100%;
}

h1 {
    color: var(--colorTituloA);
}

h1 {
    font-size: 1.7em;
    margin: 0;
}

.eslogan {
    font-size: 0.6em;
}

nav {
    display: none;
}

header {
    background-color: var(--fondo);
}

h1 {
    text-decoration: underline;
}

.escarapela-container {
    width: 60px;
    height: 60px;
}

.escarapela-capa-1,
.escarapela-capa-3 {
    background-color: #71abde;
    border-radius: 100%;
}

.escarapela-capa-1 {
    width: 60px;
    height: 60px;
}

.escarapela-capa-2 {
    background-color: #eff7ff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.escarapela-capa-3 {
    width: 20px;
    height: 20px;
}

header .eslogan,
#warning {
    font-style: italic;
    font-weight: bold;
}

h2,
header .eslogan,
.subtitulo,
.links a {
    text-transform: uppercase;
}

.nav-mostrar {
    display: block;
    background-color: #83d2f6;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: getDown 0.2s cubic-bezier(0.54, 0.54, 0, 0.99);
}

.nav-mostrar .nav li {
    border-block: 2px solid var(--resaltadoA);
}

.nav {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav li a {
    color: #161616;
    font-size: 1em;
}

/* MAIN */

/*Tamaños, fuentes, posiciones, margenes y paddings*/

.main,
.contact-form {
    min-height: 100vh;
}

.final {
    margin-bottom: 80px;
}

.contact-form,
.coments {
    justify-content: space-evenly;
}

.separador,
.articulo {
    gap: 20px;
    justify-self: center;
}

.container-redes {
    gap: 10px;
    bottom: 5%;
    list-style: none;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.redes {
    height: 40px;
    width: 40px;
    padding: 10px 10px;
    border-radius: 5px;
}

.container-redes {
    position: sticky;
    z-index: 1;
}

.fotomain {
    border-radius: 5%;
    height: 250px;
    width: 300px;
}

.card li {
    justify-self: center;
}

.card {
    width: 100%;
    color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card-category {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
}

.card-category .item {
    height: 125px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    align-self: center;
    line-height: 40px;
}

.container-redes .redes i {
    font-size: 20px;
}

.subtitulo,
.links a,
.icon {
    font-size: 25px;
}

.comentarios {
    border: none;
}

.comentarios {
    border-radius: 5px;
    resize: none;
}

.contenedor-noticia {
    padding: 20px;
}

.candidatos {
    list-style: none;
    z-index: 0;
    width: 90vw;
}

table,
th,
td {
    text-align: center;
    font-size: 20px;
}

table {
    width: 100%;
    margin: 20px;
    border-collapse: collapse;
}

iframe {
    width: 90vw;
    height: 30vh;
    border-radius: 5px;
    margin-block: 50px;
}

.container-table {
    width: 93vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.advertencia {
    background-color: var(--resaltado);
    width: auto;
    height: 5vh;
    border-radius: 15px;
    padding: 10px;
    color: #f3f3f3;
    animation: warn 1s infinite ease-in-out;
}

.coments-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.coment {
    max-width: 80vw;
    min-height: 20vh;
    max-height: 35vh;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    grid-template-areas:
        "head"
        "info"
        "foot";
}

.coment-header {
    display: flex;
    align-items: center;
    grid-area: head;
}

.coment-info {
    grid-area: info;
}

.coment .coment-header img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.coment .coment-header p {
    font-weight: bold;
}

.coment-footer {
    grid-area: foot;
    color: gray;
    align-self: end;
}

/* fondos, decoraciones y colores */

.noticia {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.1875rem;
    line-height: 1.875rem;
    text-align: left;
}

.es-importante {
    background-color: var(--colorTitulo);
}

.links a {
    color: rgba(29, 29, 29, 0.838);
}

.redes,
.text,
.icon,
.redes a i {
    color: #f3f3f3;
}

.redes {
    background-color: var(--resaltadoA);
}

.resaltado,
h2,
.subtitulo {
    font-weight: bold;
    color: var(--resaltado);
}

h2,
.subtitulo {
    color: var(--colorTitulo);
}

.division {
    border-block: 2px solid var(--gray);
}

.container-form-table {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    align-items: center;
}

.form {
    width: 290px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
    min-height: 190px;
}

.form:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale: 0.95;
}

td {
    color: #464646;
}

tr:nth-child(even),
th {
    background-color: var(--gray);
}

.contact-form,
.coments {
    height: 100vh;
}

.heading {
    text-align: center;
    color: rgb(47, 47, 47);
    top: 3em;
    font-weight: bold;
}

.check {
    align-self: center;
    margin: 1rem;
    font-size: 40px;
}

.btn1 {
    margin: 10px;
    cursor: pointer;
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px #b5b5b5, -1px -1px 3px #ffffff;
}

.btn1:hover {
    box-shadow: inset 3px 3px 6px #b5b5b5, inset -3px -3px 6px #ffffff;
}

.captcha-ok {
    color: #1cd21c;
    font-size: 60px;
}

.captcha-fail {
    color: #d21c31;
}

#warning {
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

.ocultar {
    display: none;
}

#numero-usuario {
    text-align: center;
}

.contact-input,
.input-table {
    width: 50%;
    height: 32px;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
}

.input-table {
    max-height: 5vh;
}

.descripcion,
.descripcion-page,
.fecha {
    color: rgb(170, 170, 170);
    font-size: 14px;
}

.mensaje-contacto {
    max-width: 100vw;
}
.mensaje-contacto,
.description-table {
    resize: none;
}

.mensaje-contacto,
.description-table {
    border-radius: 10px;
}

.libertad-avanza,
.cambiemos,
.frente-todos,
.neutro {
    opacity: 0.9;
    background-color: rgb(199, 67, 133);
    height: auto;
    color: white;
    margin-bottom: 10px;
}

.neutro,
.neutro .descripcion {
    background-color: rgb(66, 68, 69);
    width: 35%;
    color: white;
}

.cambiemos,
.bullrich,
.manes {
    background-color: rgb(243, 187, 32);
    width: 80%;
}

.manes {
    width: 40%;
}

.bullrich {
    width: 70%;
}

.frente-todos,
.massa,
.kicillof {
    background-color: rgb(66, 105, 158);
    width: 70%;
}

.massa {
    width: 65%;
}

.kicillof {
    width: 60%;
}

.porcentajes {
    color: rgb(29, 29, 29);
    font-size: x-large;
}

/* ANIMACIONES Y EFECTOS */

@keyframes getDown {
    0% {
        transform: translateY(-120px);
        /* para que inicie desde arriba */
        height: 1%;
    }

    100% {
        height: 100%;
    }
}

@keyframes warn {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.8;
    }
    100% {
        scale: 1;
    }
}

.item--1 {
    background: linear-gradient(to right bottom, #443e3f, #b2adae);
}

.item--2 {
    background: linear-gradient(to right bottom, #d2ae1c, #fff8e4);
}

.item--3 {
    background: linear-gradient(to right bottom, #1cd21c, #d4ffd4);
}

.item--4 {
    background: linear-gradient(to right bottom, #ae1cd2, #f5ccff);
}

.item--5 {
    background: linear-gradient(to right bottom, #d21c31, #ffc4cb);
}

.item--6 {
    background: linear-gradient(to right bottom, #1c65d2, #d6e7ff);
}

.item--7 {
    background: linear-gradient(to right bottom, #d21c62, #ffb9d4);
}

.item--8 {
    background: linear-gradient(to right bottom, #1cd292, #cdffed);
}

.mensaje-contacto:focus,
.contact-input:focus,
.description-table:focus,
.input-table:focus {
    outline: 2px solid var(--resaltado);
}

.efect-ok {
    transform: translateY(45px);
    transition: 0.7s;
}

.card-category .item:hover {
    transform: translateY(5px);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    cursor: pointer;
    scale: 0.99;
}

/* FOOTER */
.footer {
    background-color: var(--fondo);
    z-index: 1;
}

/*Tamaños, fuentes, posiciones, margenes y paddings*/

.footer {
    font-size: 15px;
}

.footer h4 {
    padding: 30px;
    margin: 0%;
}

@media only screen and (min-width: 1024px) {
    .desborde {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    header {
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            " logo escar escar"
            "eslog eslog eslog"
            "nav nav nav";
        column-gap: 10px;
    }

    .btn {
        display: none;
    }

    .btn,
    .eslogan,
    nav {
        align-self: center;
        justify-self: center;
    }

    .logo {
        justify-self: flex-end;
        text-align: end;
    }

    .escarapela-container {
        align-self: center;
        justify-self: flex-start;
    }

    .eslogan {
        text-align: end;
        font-size: 1em;
    }

    nav {
        width: 100%;
        height: 50px;
    }

    .logo h1 {
        font-size: 4.375em;
    }

    .nav {
        width: 100%;
        height: 50px;
        align-items: flex-start;
    }

    .nav li {
        background-color: rgb(106, 168, 240);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 2.5px solid var(--resaltado);
        padding: 15px 30px;
        letter-spacing: 0.5px;
    }

    .nav li a,
    .nav li i {
        color: var(--fondo);
    }

    .escarapela-capa-3 {
        width: 25px;
        height: 25px;
    }

    .escarapela-capa-2 {
        width: 53px;
        height: 56px;
    }

    .escarapela-capa-1 {
        width: 77px;
        height: 86px;
    }

    .escarapela-container {
        width: 77px;
        height: 86px;
    }

    /* GENERAL FLEXBOX */

    .card {
        display: grid;
    }

    .info,
    .encabezado,
    .articulo,
    .about,
    .about-container,
    .about,
    .main,
    .section-category,
    .container-catalogo,
    .card .item,
    .box,
    .candidatos,
    .botones-table,
    nav,
    .container-form-table,
    .form-table {
        display: flex;
    }

    .container-contact,
    .card .item,
    .box,
    #container-captcha {
        justify-content: center;
    }

    .nav,
    .form-table {
        flex-direction: row;
    }

    .articulo,
    .info,
    .about,
    .contact-form,
    .container-catalogo,
    .coments,
    .about-container,
    .section-category,
    .form-table {
        justify-content: space-evenly;
    }

    .main {
        justify-content: space-between;
    }

    .coments {
        flex-wrap: wrap;
    }

    .encabezado,
    .articulo,
    .about,
    .main,
    .contact-form,
    .about-container,
    .container-catalogo,
    .container-comentario,
    .card .item,
    .candidatos,
    .botones-table {
        flex-direction: column;
    }

    .articulo,
    .about,
    .encabezado,
    .container-contact,
    .contact-form,
    .about-container,
    .card,
    .card .item,
    .container-form-table,
    .form-table {
        align-items: center;
    }

    /* General */
    /*Tamaños, fuentes, posiciones, margenes y paddings*/

    iframe {
        width: 50vw;
        height: 50vh;
    }

    .desplazamiento {
        position: absolute;
        top: -200px;
    }

    /*colores*/

    .nav {
        background-color: var(--fondo);
    }

    /* GENERAL */
    /* ANIMACIONES Y EFECTOS */
    .btn-header:hover {
        border: none;
        transition: all 0.4s;
        opacity: 0.7;
        padding: 16px 30px;
        -webkit-box-reflect: below 0px
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .redes:hover {
        transition: all 0.5s;
        transform: translateX(-15px);
        opacity: 0.6;
    }

    /*MAIN*/

    .container-catalogo {
        max-width: 100%;
    }

    .contenedor-noticia {
        max-width: 75%;
    }

    .candidatos {
        width: 70vw;
    }

    .about-container {
        height: 100%;
    }

    .container-redes {
        position: fixed;
    }

    .container-redes {
        right: 0;
        gap: 15px;
        top: 30%;
        bottom: auto;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
        color: white;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .card-category {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    .categorias {
        width: 100vw;
    }

    .card-category .item {
        list-style: none;
    }

    .section-category {
        height: 70%;
    }

    .input-table {
        width: auto;
    }

    .advertencia {
        width: 25vw;
    }

    .info {
        width: 70%;
    }

    .container-catalogo {
        font-size: 1.5em;
    }

    i.icon:hover::before {
        transform: translateY(-5px);
        transition: 0.4s;
    }

    .form-table,
    .container-form-table {
        width: 100%;
    }

    .form-table input,
    .container-form-table {
        height: 30%;
    }
    .container-table {
        height: 60%;
    }
    .separador {
        height: 100vh;
    }
}
